h1 muffins

p Fully responisve
p Buil ton intelligent HTML5 + CSS3
p ultra customizable
p100% free under the MIT
p muffins is a Sass-Framework. The special feature of the framework is that it consists exclusively of as a reset, grid and utility classes. Everything else is managed via themes.
h2 Grid
p The muffins grid is fully configurable via variables. Thus excess CSS code is avoided. You can easily define your breakpoints and grid classes. You do not need a breakpoint? No problem, it is only generated the grid code you actually need! You have a finely tuned website that has many breakpoints, no problem! You get all grid classes you need.
h2 CSS-Reset
p Muffins already includes a standard reset, where HTML5 elements for older browsers and browser-specific CSS preconfigured statements are useful overwritten.
h2 Utility-Classes
p With the utility classes, you can easily configure content.
h2 Themes
p The complete style of muffins is outsourced in themes. If you only need a grid, you have therefore no excess CSS code. Would you just quickly create a prototype, you can easily use a theme with all the basic formatting.
p Since the themes are completely cut off from the grid, it is easy to define new ones. Sometimes it is enough to adjust the colors and variables in the config files to get a costumized application or website.


