//colors
$brand-primary: #FFF8DC;

//rose: #f19fc1
//magenta: #F40066
//beere: #b47799

//folliwing togther

//rosa: #FD9297
//min: ddf7ec
//gold: #fed484 
//vanille: FFF8DC
$brand-primary-dark: #ADD8E6;
$brand-secondary: #FFF8DC;

$white: #fff;
$gray: #aaa;
$gray-lighter: #dfdfdf;


//background
$background-main:  #ddf7ec;