h1 What is it?
p Muffins ist eine Sass-Framework. Das besondere am Muffins-Framework ist, dass es als solches ausschließlich aus einem Reset, Grid und den Utility-Classes besteht. Alles weitere wird über Themes gemanaged. 
h2 Grid
p Das Muffins-Grid ist vollständig über Variablen konfigurierbar. Somit wird überschüssiger CSS-Code vermieden. Du kannst du deine Beakpoints und Grid-Klassen ganz einfach definieren. Du brauchst du einen Breakpoint und nicht 3? Gar kein Problem, es wird nur der Gri-Code erzeigt, den du tatsächlich brauchst! Du hast eine fein abgestimmte Webseite, die viele Breakpoints hat, auch kein Problem!
h2 CSS-Reset
p Das Muffins-Framework inkludiert bereits ein Standard-Reset, in dem HTML5 Elemente für ältere Browser vorkonfiguriert und browserspezifische CSS-Anweisungen sinnvoll überschrieben werden.
h2 Utility-Classes
p Mit den Utility-Classes, kannst du ganz einfach Inhalte konfigurieren.
h2 Themes
p Der komplette Style des Muffins-Framework ist in Themes ausgelagert. Wenn du nur ein Grid brauchst, hast du somit keinen überschüssigen CSS-Code. Möchtest du nur schnell Protoypen, ist das mit einem Theme kein Problem, denn hier sind bereits alle grundlegenden Formatierungen vorhanden.
p Da die Themes komplett vom Grid abgekapselt sind, ist es kinderleicht neue zu definieren. Manchmal reicht es auch schon, die Farben und Variablen in den Config-Dateien anzupassen. 