.highlight{
  background-color: $white;
  margin: $space 0;
  padding: ($space * 3);
}

.example{
  [class^="col-"] {
    border: 2px solid $brand-primary-dark;
    text-align: center;
    min-height: 60px;
    line-height: 60px;
    font-weight: bold;
    background-color: $brand-primary;
  }
}